.DS_Store

private/application/cache/*
!private/application/cache/index.html
!private/application/cache/.htaccess

private/application/logs/*
!private/application/logs/index.html

private/application/session/*
!private/application/session/index.html

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
