body {
	padding: 20px 0;
}

header {
	margin-bottom: 20px;
}

@media (max-width: 992px) {
	#logo {
		text-align: center !important;
		margin-bottom: 20px;
	}

	header .nav-pills > li {
		float: none;
		display: inline-block;
		*display: inline; /* ie7 fix */
		zoom: 1; /* hasLayout ie7 trigger */
	}

	header .nav-pills {
		text-align: center;
	}
}